<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IDE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <nav id="nav_master" class="navbar navbar-inverse navbar-fixed-top">
                <!--                <div class="container-fluid">-->
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="/static/images/logo.png" alt="" style="display: none;"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-content">

                    <ul class="nav navbar-nav">
                        <li><a href="/question" style="font-size: 30px">OnlineJudge</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown">题目库&nbsp;<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/question">题目列表</a></li>
                                <!--                        <li><a href="/lanmao/judges">评测历史</a></li>-->
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/logo.png"
                                     style="border: 1px solid #333; border-radius: 50%;" width="18" height="18">
                                heyifeng<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/lanmao/skill">个人主页</a></li>

                                <li><a href="/account/guest/space/#avatar" style="display: none">上传头像</a></li>
                                <li><a href="/lanmao/userSetting" style="display: none">修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--                </div>-->
            </nav>
        </div>
    </div>
    <div class="row" style="margin-top: 75px">
        <div class="col-xs-6">
            <textarea class="description" id="description" name="systemIn" rows="15" cols="45"
                      th:text="${description}">

            </textarea>
        </div>
        <div class="col-xs-6">
            <!--            <div style="width:100%;text-align:center">-->

            <form th:action="${#httpServletRequest.requestURI}" method="post">
                <div class="form-group">
                        <textarea class="form-control" id="myInput" name="source" rows="15"
                                  th:text="${lastSource}">${lastSource!}</textarea>
                </div>
                <input class="bttn-simple bttn-md bttn-primary" type="submit" value="Run"/>

                <script type="text/javascript">
                    var myInput = document.getElementById("myInput");
                    str = "    ";
                    if (myInput.addEventListener) {
                        myInput.addEventListener('keydown', this.keyHandler, false);
                    } else if (myInput.attachEvent) {
                        myInput.attachEvent('onkeydown', this.keyHandler); /* damn IE hack */
                    }

                    function keyHandler(e) {
                        var TABKEY = 9;
                        if (e.keyCode == TABKEY) {
                            insertText(myInput, str);
                            if (e.preventDefault) {
                                e.preventDefault();
                            }
                        }
                    }

                    function insertText(obj, str) {
                        if (document.selection) {
                            var sel = document.selection.createRange();
                            sel.text = str;
                        } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
                            var startPos = obj.selectionStart,
                                endPos = obj.selectionEnd,
                                cursorPos = startPos,
                                tmpStr = obj.value;
                            obj.value = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length);
                            cursorPos += str.length;
                            obj.selectionStart = obj.selectionEnd = cursorPos;
                        } else {
                            obj.value += str;
                        }
                    }
                </script>
            </form>
            <!--            </div>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" id="showRunResult" style="border:1px solid; padding: 3px; width:70%; margin-top:10px;
position:absolute;left:50%;transform:translate(-50%);" th:text="${runResult}"></div>
</div>

</body>
</html>